.ConnectionConfigModal-light {
  font-family: Arial, sans-serif;
}
.ConnectionConfigModal-dark {
  font-family: Arial, sans-serif;
  color: #FFFFFF;
}
.ConnectionConfigModal-config-field {
  display: block;
  padding: 2px 0 2px;
}
.ConnectionConfigModal-section .ConnectionConfigModal-config-field {
  padding-left: 12px;
}
.ConnectionConfigModal-config-field input {
  margin-left: 4px;
  border: none;
  border-bottom: 1px solid var(--window-accent-color);
  outline: none;
  font-size: 16px;
}
.ConnectionConfigModal-config-field input:focus{
  border-color: var(--window-head-color);
}
.ConnectionModalInput-dark {
  background-color: #1f1f1f;
  color:#FFFFFF;
}
.ConnectionConfigModal-section:not(:first-child) {
  margin-top: 8px;
}
.ConnectionConfigModal-section-header {
  padding: 4px 0 4px 0;
}
