.GamepadInfoModal-data {
  border: 1px solid black;
}

.GamepadInfoModal-datum-hovered {
  font-weight: bold;
}

.logitech-gamepad_svg {
  --hover: lightgray;
  --active: orange;
  pointer-events: none;
  fill: none;
  stroke-opacity: 1;
  stroke: none;
  fill-opacity: 1;
}

.logitech-gamepad_svg__control {
  pointer-events: fill;
}

.logitech-gamepad_svg__control:hover {
  fill: var(--hover);
}

.logitech-gamepad_svg__eye {
  stroke: black;
  stroke-width: 1.871;
}

.logitech-gamepad_svg__frame {
  stroke: black;
  stroke-width: 1.3;
}

.logitech-gamepad_svg__control {
  fill: black;
  transition: fill 0.15s ease-out;
}


.positive-joystick_left_x #logitech-gamepad_svg__left-joystick {

}

.negative-joystick_left_x #logitech-gamepad_svg__left-joystick {

}

.positive-joystick_right_x #logitech-gamepad_svg__right-joystick {

}

.negative-joystick_right_x #logitech-gamepad_svg__right-joystick {

}

.positive-joystick_left_y #logitech-gamepad_svg__left-joystick {

}

.negative-joystick_left_y #logitech-gamepad_svg__left-joystick {

}

.positive-joystick_right_y #logitech-gamepad_svg__right-joystick {

}

.negative-joystick_right_y #logitech-gamepad_svg__right-joystick {

}

.active-button_a #logitech-gamepad_svg__a-button,
.active-button_b #logitech-gamepad_svg__b-button,
.active-button_x #logitech-gamepad_svg__x-button,
.active-button_y #logitech-gamepad_svg__y-button,
.active-dpad-up #logitech-gamepad_svg__dpad,
.active-dpad-down #logitech-gamepad_svg__dpad,
.active-dpad-left #logitech-gamepad_svg__dpad,
.active-dpad-right #logitech-gamepad_svg__dpad,
.active-r_bumper #logitech-gamepad_svg__right-bumper,
.active-r_trigger #logitech-gamepad_svg__right-trigger,
.active-l_bumper #logitech-gamepad_svg__left-bumper,
.active-l_trigger #logitech-gamepad_svg__left-trigger,
.active-button_back #logitech-gamepad_svg__back-button,
.active-button_start #logitech-gamepad_svg__start-button,
.active-button_xbox #logitech-gamepad_svg__brand-button,
.active-l_stick #logitech-gamepad_svg__left-joystick,
.active-r_stick #logitech-gamepad_svg__right-joystick {
  fill: var(--active);
}
