.Modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--body-color);
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.Modal-active {
  display: block;
}

.Modal-title-bar {
  padding: 4px 18px;
  background-color: var(--window-head-color);
  border-radius: 10px 10px 0 0;
  color: var(--window-head-text-color);
  font-family: Tahoma, sans-serif;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Modal-title {
  font-size: 16px;
  font-weight: bold;
}

.Modal-close-button {
  margin-top: 2px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: var(--window-head-text-color);
  font-weight: bold;
  cursor: pointer;
  font-size: 22px;
}

.Modal-content {
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}
