.AppConsole {
  padding: 10px;
  font-family: "Courier New", monospace;
  min-height: 0;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: text;
}
.AppConsole-inner {
  height: 100%;
  background-color: #eee;
  overflow-y: scroll;
  word-break: break-word;
  margin: 0;
  margin-bottom: 50px;
  min-height: 0;
  scroll-behavior: smooth;
}
.AppConsole-message {
  padding: 2px;
  text-wrap: wrap;
}
.AppConsole-message-dawn-err {
  color: red;
}
.AppConsole-message-robot-err {
  background-color: salmon;
  padding-left: 4px;
  border-left: 6px solid crimson;
}
.AppConsole-message-robot-info {
  padding-left: 4px;
  border-left: 6px solid var(--window-accent-color);
}
