.Editor {
  display: flex;
  flex-direction: column;
}
.Editor-file-info {
  display: flex;
  padding-left: 15px;
  flex-basis: 50px;
  flex-direction: row;
  align-items: center;
}
.Editor-file-name {
  margin-right: 5px;
  font-family: Verdana, monospace;
}
.Editor-file-status {
  font-style: italic;
}
.Editor-ace-wrapper {
  flex-grow: 1;
  user-select: auto;
}
.Editor-toolbar {
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px 20px;
  overflow-x: auto;
}
.Editor-toolbar-group {
  margin-right: 20px;
  border: 1px solid var(--body-accent-color);
  padding: 4px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.Editor-toolbar-group > *:not(:last-child) {
  margin-right: 6px;
}
.Editor-toolbar-group:last-child {
  margin-left: auto;
}
.Editor-toolbar button {
  position: relative;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}
.Editor-toolbar img {
  width: 100%;
  height: 100%;
  transition: filter 0.25s;
  /* Fix other filter variables so transition is directly from black to blue: */
  filter: invert(0%) sepia(100%) hue-rotate(180deg) saturate(0);
}
.Editor-tbbtn-toggled img {
  /* CSS filter witchcraft producing #0088ff */
  filter: invert(40%) sepia(100%) hue-rotate(180deg) saturate(10);
}
.Editor-toolbar .Editor-tbbtn-disabled {
  cursor: default;
}
.Editor-tbbtn-disabled img {
  filter: invert(60%) hue-rotate(180deg);
}
.Editor-tbbtn-alert {
  position: absolute;
  transform: translate(50%, 50%);
  margin: -20% 0 0 50%;
  border-radius: 100%;
  width: 40%;
  height: 40%;
  background-color: red;
}
.Editor-tbopmode {
  font-family: Verdana, monospace;
}
.Editor-tbopmode select {
  margin-left: 5px;
  outline: none;
}
