.Topbar {
  width: calc(100% - 20px);
  padding: 10px;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid var(--body-accent-color);
}
.Topbar > * {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Topbar-left-group {
  float: left;
}
.Topbar-right-group {
  float: right;
}
.Topbar-dawn-version {
  font-size: 25px;
  margin-right: 40px;
  font-family: Tahoma, sans-serif;
}
.Topbar-info-card {
  margin-right: 10px;
  border-radius: 20px;
  padding: 4px 8px 4px 8px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.Topbar-robot-disconnected {
  background-color: indianred;
}
.Topbar-runtime-version {
  background-color: blue;
}
.Topbar-info-card-red {
  background-color: salmon;
}
.Topbar-info-card-yellow {
  background-color: orange;
}
.Topbar-info-card-green {
  background-color: limegreen;
}
